* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  line-height: 1;
}

.creator_public_page,
.Home {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.TheLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbfffe91;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.spinnerImg {
  width: 8rem;
}