@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Colors: */
/* Primary color: #282828; */
/* Second Primary Color: #FF0000; */
/* Secondery Color: #FFFFFF; */
/* Complemtenry Color: #b6b6b6; */
/* ANOTHER COLOR: #383c42; */

/* :root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  Dqwrk {
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #040404; */
  /* background-color: #282828; */
  background-color: #FFFFFF;
  font-family: "Inter Tight", sans-serif;
}

.creator_public_page,
.Home {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
}

.TheLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fbfffe91;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.spinnerImg {
  width: 8rem;
}

/* @media screen and (max-width: 1024px) {
  .App {
    margin: auto 1rem;
  }

  @media screen and (max-width: 800px) {
    @media screen and (max-width: 600px) {
      .App {
        margin: auto;
        width: 98%;
        overflow: hidden;
      }
    }
  }
} */