._404_svg {
  width: 100%;
  max-width: 800px;
}

._404_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 8rem;
}

._not_found_title {
  font-size: 3rem;
  font-weight: 700;
  color: #d4145a;
  margin: 2rem 0;
}

._la_logo {
  width: 12.8rem;
  margin: 1rem auto 5rem;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* Contact Us Page */

._contact_help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 4rem auto;
  gap: 1.2rem;
  min-height: 50vh;
  width: 60%;
  max-width: 1200px;
  text-align: center;
}

._contact_title {
  font-size: 2rem;
  font-weight: 700;
  color: #272b31;
}

._contact_p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(87, 87, 87);
  line-height: 1.5;
  letter-spacing: 0.42px;
  margin: 0.5rem auto;
  width: 90%;
}

._contact_list li {
  list-style: none;
  margin: 0.5rem 0;
  color: rgb(87, 87, 87);
}

._contact_list li a {
  margin: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: rgb(87, 87, 87);
  text-decoration: none;
  cursor: pointer;
}

._contact_list li a:hover {
  color: #ff724f;
}

/* ----------------------------------------------------------------------------------------------------------- */
/* Policy Page */

/* ._terms_of_use_container */
._policy_container {
  min-height: 42vh;
  max-width: 1280px;
  margin: 0rem auto;
}

._Policy_text_container {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

._policy_text_div {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

._policy_first_section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

._terms_of_use_container, ._policy_container {
    width: 80%;
    margin: 3rem auto;
    color: rgb(87, 87, 87);
}

._terms_title, ._policy_title {
  color: #272b31;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

._terms_of_use_container h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #272b31;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

._terms_of_use_container p, ._terms_of_use_container li {
    font-size: 1rem;
    line-height: 1.6;
}

._terms_of_use_container ul {
    margin: 1rem 0;
    padding-left: 2rem;
    list-style: disc;
}

._p_num {
  font-size: 1.2rem;
  color: #272b31;
}

._policy_text_div ul {
  margin: 0.6rem 0;
}

._policy_text_div ul li {
  font-size: 1rem;
  color: rgb(87, 87, 87);
  list-style: none;
  margin-top: 0.42rem;
}

._p_l {
  color: #182c61;
}

._spans_div {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* ._policy_container p,
._terms_of_use_container p {
  margin: 1rem;
  color:  rgb(87, 87, 87);
  font-size: 1.2rem;
} */

._payment_success_container {
  max-width: 1280px;
  margin: 2rem auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

._payment_success_logo {
  width: 12rem;
}

._payment_success_text {
  text-align: center;
  width: 70%;
  margin: 5rem auto 8rem;
}

._payment_success_text h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #ff724f;
}

._payment_success_text p {
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.5px;
  color: #272b31;
  margin: 1.3rem auto;
}

/* ._policy_container span {
  margin-left: 1.5rem;
} */

/* --------------------------------------------------------------------------------- */
._login_container {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  max-width: 98%;
  height: 100vh;
  margin: 0 auto;
}

._login_container div:nth-child(2) {
  margin: 0;
}

._img_container {
  /* border: 2px solid #d4145a; */
  height: 95%;
  width: 50%;
  background-color: #383c42;
  border-radius: 1.2rem;
}

._img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.Login_icon_div,
.SignUp_icon_div {
  margin: 1.8rem 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  background-color: #383c42;
  border-radius: 0.42rem;
  /* border: 1.3px solid #4a1a98; */
  cursor: pointer;
  padding: 0.2rem 0.6rem;
  width: 36%;
}

.SignUp_icon_div {
  width: 40%;
}

.loginIcons {
  /* background-color: #FFFFFF; */
  font-size: 3.3rem;
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.Login_icon_div p,
.SignUp_icon_div p {
  font-size: 1.3rem;
  color: #ffffff;
}

._login_text_container {
  /* border: 2px solid #d4145a; */
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

._login_logo {
  width: 16rem;
  /* color: #ffffff; */
  cursor: pointer;
}

._login_copy {
  color: #b6b6b6;
  /* margin: .7rem 0; */
  font-size: 1.3rem;
}

/* -------------------------------- Waitlist ------------------------------------------------------- */

._wait_list_container {
  max-width: 1280px;
  margin: 5rem auto;
  text-align: center;
}

._waitlistt_headline h2 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
  width: 70%;
  margin: 0.6rem auto;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #282828;
}

._waitlistt_headline h2 span {
  color: #fcad05;
  font-style: italic;
  background-color: #282828;
  padding: 0.3rem 0.5rem 0.15rem;
  font-size: 2.6rem;
  border-radius: 0.5rem;
}

._waitlistt_headline p {
  width: 75%;
  margin: 0.3rem auto;
  font-size: 1.3rem;
  line-height: 1.3;
  color: rgb(123, 130, 142);
  letter-spacing: 0.1px;
}

._waiting_form {
  margin: 4.2rem auto;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

._waiting_form input {
  width: 100%;
  height: 2.6rem;
  border-radius: 0.6rem;
  padding: 0.3rem 0.72rem;
  outline: none;
  border: 1.3px solid #282828;
}

._waiting_form input:focus {
  border: 1.6px solid rgb(0, 102, 255) !important;
  outline: none;
}

._waiting_form button {
  margin: 2rem;
  font-size: 1.3rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  letter-spacing: 0.15px;
  padding: 0.65rem 0.8rem;
  border-radius: 0.6rem;
  border: transparent;
  background-color: rgb(0, 102, 255);
  text-transform: uppercase;
  color: #fff;
}

._waiting_form button:hover {
  color: #272b31;
  background-color: #fcad05;
}

._inputsErrMsg {
  color: red;
  font-size: 1.3rem;
  background-color: rgba(247, 132, 132, 0.533);
  padding: 0.5rem 2rem;
  border-radius: 0.42rem;
}

@media screen and (max-width: 1024px) {
  /* ._policy_container,
  ._terms_of_use_container {
    gap: 1rem;
    width: 90%;
  } */

  ._Policy_text_container {
    width: 90%;
  }

  /* ._policy_title,
  ._terms_title {
    font-size: 1.8rem;
    margin: 0;
  } */

  ._la_logo {
    width: 8.5rem;
  }

  ._payment_success_logo {
    width: 8.5rem;
  }

  ._waiting_form {
    width: 55%;
  }

  ._waiting_form button {
    font-size: 1.8rem;
  }

  ._waitlistt_headline h2 {
    font-size: 1.8rem;
    width: 70%;
  }

  ._waitlistt_headline h2 span {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 800px) {
    /* ._account_settings_container {
      width: 80%;
    } */

    ._Policy_text_container {
      width: 95%;
    }

    ._payment_success_text {
      width: 95%;
    }

    ._payment_success_text p {
      font-size: 1rem;
    }

    ._waitlistt_headline h2 {
      font-size: 1.65rem;
      width: 80%;
    }

    ._waitlistt_headline h2 span {
      font-size: 1.6rem;
    }

    ._waiting_form button {
      margin: 1.3rem;
      font-size: 1.6rem;
      letter-spacing: 0.1px;
    }

    ._waiting_form {
      width: 75%;
    }

    @media screen and (max-width: 600px) {
      ._Policy_text_container {
        width: 100%;
      }

      /* ._help_container {
        margin: 5rem auto 0;
        width: 95%;
      } */

      ._help_container h3 {
        font-size: 1.1rem;
        font-weight: 600;
      }

      ._help_container p {
        font-size: 0.8rem;
      }

      ._waitlistt_headline h2 {
        font-size: 1.3rem;
        width: 100%;
      }

      ._waitlistt_headline p {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
      }

      ._waitlistt_headline h2 span {
        font-size: 1.5rem;
      }

      ._wait_list_container {
        margin: 2.3rem auto;
      }

      ._waiting_form {
        width: 100%;
      }

      ._waiting_form button {
        font-size: 1.2rem;
      }

      /* ._policy_container,
      ._terms_of_use_container {
        gap: 1rem;
        width: 95%;
        margin: 1.8rem auto;
        gap: .3rem;
      } */

      /* ._policy_title,
      ._terms_title {
        font-size: 1.6rem;
        margin: 0;
      } */

      /* ._policy_container span {
        font-weight: 600;
        margin-left: 1rem;
      } */

      /* ._policy_container div>h4,
      ._terms_of_use_container div>h4 {
        font-size: 1.3rem;
        font-weight: 500;
        margin: .5rem 0;
      } */

      /* ._policy_polit_points,
      ._terms_polit_points {
        margin: 1.2rem 0 1.2rem 1.6rem;
      } */

      /* ._account_settings_container {
        width: 98%;
        margin: 2rem auto;
        gap: 0.6rem;
      } */

      /* ._account_setting_title {
        font-size: 1.6rem;
      }

      ._setting_items {
        padding: .6rem;
      }

      ._setting_items>p {
        font-size: .8rem;
      } */

      /* ._coming_soon,
      ._auto_tweet {
        font-size: .7rem;
      } */

      /* ._terms_text_container div>p {
        margin: .6rem 0;
      } */

      ._la_logo {
        width: 5.8rem;
      }

      ._payment_success_logo {
        width: 5.8rem;
      }

      ._payment_success_text h3 {
        font-size: 1.3rem;
      }

      ._p_num {
        font-size: 1rem;
      }
    }
  }
}
