._404_svg {
  width: 100%;
  max-width: 800px;
}

._404_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 8rem;
}

._not_found_title {
  font-size: 3rem;
  font-weight: 700;
  color: #d4145a;
  margin: 2rem 0;
}

._la_logo {
  font-size: 2.6rem;
  margin: 2rem auto 5rem;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}

._la_logo span {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/* Contact Us Page */

._contact_help {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 4rem auto;
  gap: 1.2rem;
  min-height: 50vh;
  width: 60%;
  max-width: 1200px;
  text-align: center;
}

._contact_title {
  font-size: 2rem;
  font-weight: 700;
  color: #272b31;
}

._contact_p {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(87, 87, 87);
  line-height: 1.5;
  letter-spacing: 0.42px;
  margin: 0.5rem auto;
  width: 90%;
}

._contact_list li {
  list-style: none;
  margin: 0.5rem 0;
  color: rgb(87, 87, 87);
}

._contact_list li a {
  margin: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: rgb(87, 87, 87);
  text-decoration: none;
  cursor: pointer;
}

._contact_list li a:hover {
  color: #ff724f;
}
