/* Main container */
.diff-container {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px;
  margin: 10rem auto;
  max-width: 1280px;
}

.diff-content {
  width: 100%;
  max-width: 1024px;
}

/* Heading */
.main-heading {
  color: rgb(30, 32, 36);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 48px;
}

.main-heading span {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

/* Tab Navigation */
.tab-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  border-bottom: 1px solid rgb(123, 130, 142);
}

.tab-button {
  padding: 12px 24px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  color: rgb(30, 32, 36);
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tab-button:hover:not(.active-tab) {
  background-color: rgb(230, 231, 232);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.active-tab {
  background-color: #e4f0fb;
  color: rgb(30, 32, 36);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Tab Content */
.tab-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.tab-label {
  color: #282828b5;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 9999px;
  font-weight: 500;
  margin-bottom: 16px;
}

.tab-label-portfolio {
  background-color: #eff9e8; /* Light green */
}

.tab-label-market {
  background-color: #e4f0fb; /* Light blue */
}

.tab-label-social {
  background-color: #fdf2e4; /* Light orange */
}

.tab-heading {
  color: rgb(30, 32, 36);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: .3rem;
}

.tab-subheading {
  color: rgb(123, 130, 142);
  font-size: 1.2rem;
  /* margin-bottom: 16px; */
}

/* Benefits List */
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.benefit-item {
  display: flex;
  align-items: flex-start;
  color: rgb(123, 130, 142);
}

.check-mark {
  color:  rgb(0, 102, 255);
  margin-right: 8px;
}

/* Responsive layout for larger screens */
@media (min-width: 768px) {
  .tab-content {
    flex-direction: row;
  }
  
  .tab-info {
    width: 50%;
  }
  
  .tab-benefits {
    width: 50%;
  }
}